Repository JSchmie/ScrAIbe-WebUI, pull requests merged in 2024-11, with the labels that each got.

#58 Clean up dockerfile, add dynamic version label from github action
  .github/workflows/docker.yaml
  Dockerfile
Labels: workflows, docker

#59 Enhance WebUI compatibility by allowing PyTorch device configuration via SCRAIBE_TORCH_DEVICE environment variable
  scraibe_webui/utils/appconfigloader.py
Labels: release

#60 Add ForestOceanTheme: A Light, Vibrant Green Theme Inspired by Nature 🌲
  scraibe_webui/ui.py
  scraibe_webui/utils/themes.py
Labels: enhancement, release

#62 Fix set scraibe webui version config yaml
  scraibe_webui/utils/appconfigloader.py
Labels: release

#65 Fix progress bar incompatibility with Faster-Whisper models in run_scraibe
  scraibe_webui/ui.py
  scraibe_webui/utils/interactions.py
Labels: release

#64 Remove requirements.txt
  .dockerignore
  .github/workflows/docker.yaml
  .github/workflows/pypi.yaml
  Dockerfile
  requirements.txt
  scraibe_webui/misc/config.yaml
  scraibe_webui/ui.py
  scraibe_webui/utils/appconfigloader.py
  scraibe_webui/utils/interactions.py
Labels: workflows, docker, release, dependencies

#61 Upgrade gradio to version >5
  .dockerignore
  .github/workflows/pypi.yaml
  Dockerfile
  pyproject.toml
  requirements.txt
  scraibe_webui/misc/config.yaml
  scraibe_webui/misc/footer.html
  scraibe_webui/misc/header.html
  scraibe_webui/ui.py
  scraibe_webui/utils/appconfigloader.py
  scraibe_webui/utils/configloader.py
  scraibe_webui/utils/interactions.py
  scraibe_webui/utils/themes.py
  scraibe_webui/utils/wrapper.py
Labels: workflows, docker, release, dependencies

#52 Update MailService Class with Enhanced Context Handling and Warnings
  scraibe_webui/misc/config.yaml
  scraibe_webui/utils/mail.py
Labels: release, breaking-change, feature

#66 Update main
  .dockerignore
  .github/workflows/docker.yaml
  .github/workflows/pypi.yaml
  Dockerfile
  pyproject.toml
  requirements.txt
  scraibe_webui/misc/config.yaml
  scraibe_webui/misc/footer.html
  scraibe_webui/misc/header.html
  scraibe_webui/misc/logo.png
  scraibe_webui/misc/logo.svg
  scraibe_webui/ui.py
  scraibe_webui/utils/appconfigloader.py
  scraibe_webui/utils/background.py
  scraibe_webui/utils/configloader.py
  scraibe_webui/utils/interactions.py
  scraibe_webui/utils/lang.py
  scraibe_webui/utils/mail.py
  scraibe_webui/utils/themes.py
  scraibe_webui/utils/wrapper.py
Labels: workflows, ignore-pr-title-for-release, docker, release, dependencies
