Repository JSchmie/ScrAIbe-WebUI, pull requests merged in 2024-09, with the labels that each got.

#35 Develop
  .github/auto-label.json5
  .github/auto_label_pr.yml
  .github/release.yml
  .github/workflows/auto-label-issue.yaml
  .github/workflows/autolabel-pr.yaml
  .github/workflows/check_semver.yaml
  .github/workflows/docker.yaml
  .github/workflows/manual_push.yml
  .github/workflows/pypi.yaml
  .github/workflows/release.yaml
  .github/workflows/ruff.yaml
  .github/workflows/semver.yml
  Dockerfile
Labels: workflows, ignore-pr-title-for-release, docker

#37 Update dependencies of `gradio` to `4.43.0`. Removed `numpy` dependencie and updated patch versions of `pandas` and ``tqdm`
  pyproject.toml
  requirements.txt
Labels: release, dependencies

#40 Updated pyproject.toml and CI Workflow for Dynamic Versioning with Develop Branch
  .github/workflows/pypi.yaml
  pyproject.toml
Labels: workflows, patch, release, dependencies

#39 Updated Scribe to Version 0.3.0 and Fixed Language Dropdown Bug for FasterWhisper Models
  pyproject.toml
  scraibe_webui/misc/config.yaml
Labels: release, dependencies

#48 fixed typo in Settings section of UI. Thanks @friki67
  scraibe_webui/ui.py
Labels: release

#43 changed the logo file format to .png in order to work with latest gradio version
  Dockerfile
  scraibe_webui/misc/footer.html
  scraibe_webui/misc/header.html
  scraibe_webui/misc/logo.png
  scraibe_webui/misc/logo.svg
Labels: docker, patch, release

#49 Normalize File Paths for SMTP Compatibility
  scraibe_webui/utils/background.py
Labels: release

#51 Added a Feature that the submit Button in both interfaces is only available when a file is available
  scraibe_webui/ui.py
  scraibe_webui/utils/configloader.py
Labels: release, feature

#50 Handle bug where `App()` does not load default config.
  scraibe_webui/utils/configloader.py
Labels: release

#56 The Model Configuration now displays the currently selected model as the default.
  scraibe_webui/ui.py
Labels: bug, release

#53 fixed gradio Warnings due to value errors.
  scraibe_webui/ui.py
  scraibe_webui/utils/lang.py
  scraibe_webui/utils/wrapper.py
Labels: release

#54 Add Custom Warnings for Interface Type and Path Handling
  scraibe_webui/utils/appconfigloader.py
Labels: release
